body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
	width: 100vw;
	height: 100vh;
}

.container {
	height: 100%;
	padding: 2rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container h1 {
	text-align: center;
	font-size: 48px;
	color: #fff;
}
